.parallax-container {
  height: 400px;
}

.redBdr {
  outline-color: red;
  outline-style: solid;
  outline-width: 10px;
}

.greyBdr {
  outline-color: #303030;
  outline-style: solid;
  outline-width: 20px;
}
